services:
  - type: web
    name: revibe-frontend
    env: docker
    dockerfilePath: ./frontend/Dockerfile
    dockerContext: ./frontend
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
